.DS_Store
*.so
*.pyc
._*
.nfs.*
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go

# This file includes artifacts of Go build that should not be checked in.
# For files created by specific development environment (e.g. editor),
# use alternative ways to exclude files from git.
# For user-roles, set up .git/info/exclude or use a global .gitignore.

# ignore all internal .env files
# --
**/*.env

# ignore all log and dump files
# --
*.log
*.chk
*.dump
*.dmp
*.out
*.tmp

# ignore all IDE config sets
.idea/